---
import { TranslateText } from '../components/TranslateText';
import { NavbarComponent } from '../components/NavbarComponent';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<NavbarComponent client:visible></NavbarComponent>
	<main class="min-h-96 content-center">
		<TranslateText client:only/>	
	</main>
</Layout>